Xft.dpi:        96
Xft.antialias:  1
Xft.lcdfilfer:  lcddefault
Xft.rgba:       rgb
Xft.hinting:    1
Xft.hintstyle:  hintslight

URxvt.highlightColor: #bdbdbd
URxvt.highlighTextColor: #424242


! PREVIOUSLY USED
! special
!*.cursorColor:  #ebebed
!*.foreground:   #b7b6d1
!*.background:   #10111a
*.secondary:    #ccdbff

! special
*.foreground:   #a7c0d1
*.background:   #1a1a1a
*.cursorColor:  #a7c0d1

! black
*.color0:       #1b2021
*.color8:       #a2e00e

! red
*.color1:       #006284
*.color9:       #cea0f9

! green
*.color2:       #cfcfcf
*.color10:      #8bc70d

! yellow
*.color3:       #95c6ec
*.color11:      #fcc08a

! blue
*.color4:       #62696d
*.color12:      #006fa8

! magenta
*.color5:       #838d92
*.color13:      #fd9bc4

! cyan
*.color6:       #aab6bc
*.color14:      #a96016

! white
*.color7:       #dfe8ed
*.color15:      #005171

URxvt.perl-lib: /home/mbrito/.config/urxvt/extensions/
URxvt.scrollBar:        false
URxvt.internalBorder:   15
URxvt.saveLines:        500000

!URxvt.font:       xft:Iosevka:style=Regular:size=11:antialias=true 

URxvt.font: xft:SourceCodePro:style=SemiBold:size=10
URxvt.letterSpace: 0  
URxvt.lineSpace: 5


! plugins
URxvt.perl-ext-common:  ...,font-size,keyboard-select,searchable-scrollback
URxvt.keysym.Shift-Control-Up:     perl:font-size:increase
URxvt.keysym.Shift-Control-Down:   perl:font-size:decrease
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keyboard-select.clipboard: true

!URxvt.keysym.Control-V: eval:paste_clipboard
!URxvt.keysym.Control-C: eval:selection_to_clipboard
!URxvt.keysym.Control-Meta-c: builtin-string:
!URxvt.keysym.Control-Meta-v: builtin-string:

URxvt.iso14755:         false
URxvt.iso14755_52:      false
URxvt.termName:         rxvt-unicode
