Xft.dpi:        116
Xft.antialias:  1 
Xft.lcdfilfer:  lcddefault
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

! special
*.cursorColor:  #ebebed
*.foreground:   #b7b6d1
*.background:   #10111a

*.secondary:    #e0a824

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc342b
*.color9:       #cc342b

! green
*.color2:       #198844
*.color10:      #198844

! yellow
*.color3:       #fba922
*.color11:      #fba922

! blue
*.color4:       #3971ed
*.color12:      #3971ed

! magenta
*.color5:       #a36ac7
*.color13:      #a36ac7

! cyan
*.color6:       #3971ed
*.color14:      #3971ed

! white
*.color7:       #c5c8c6
*.color15:      #ffffff

URxvt.perl-lib: /home/mbrito/.config/urxvt/extensions/
URxvt.scrollBar:        false
URxvt.internalBorder:   15
URxvt.saveLines:        2000

!URxvt.font:       xft:Iosevka:style=Regular:size=11:antialias=true 

URxvt.font: xft:SourceCodePro:size=9:antialias=true,xft:monospace 
URxvt.letterSpace: 0
URxvt.lineSpace: 4


! plugins
URxvt.perl-ext-common:  ...,font-size,keyboard-select,searchable-scrollback
URxvt.keysym.Shift-Control-Up:     perl:font-size:increase
URxvt.keysym.Shift-Control-Down:   perl:font-size:decrease
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keyboard-select.clipboard: true

!URxvt.keysym.Control-V: eval:paste_clipboard
!URxvt.keysym.Control-C: eval:selection_to_clipboard
!URxvt.keysym.Control-Meta-c: builtin-string:
!URxvt.keysym.Control-Meta-v: builtin-string:

URxvt.iso14755:         false
URxvt.iso14755_52:      false
URxvt.termName:         rxvt-unicode
