Xft.dpi:        130
Xft.antialias:  1 
Xft.lcdfilfer:  lcddefault
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

! special
*.foreground:   #c5c8c6
!*.background:   #1e1f29
*.background:   #10111a
*.cursorColor:  #d2d4d2
*.secondary:    #63A290

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc342b
*.color9:       #cc342b

! green
*.color2:       #198844
*.color10:      #198844

! yellow
*.color3:       #fba922
*.color11:      #fba922

! blue
*.color4:       #3971ed
*.color12:      #3971ed

! magenta
*.color5:       #a36ac7
*.color13:      #a36ac7

! cyan
*.color6:       #3971ed
*.color14:      #3971ed

! white
*.color7:       #c5c8c6
*.color15:      #ffffff

URxvt.scrollBar:        false
URxvt.internalBorder:   15
URxvt.saveLines:        1000

URxvt.font:       xft:UbuntuMono:style=Regular:size=12:antialias=true
!URxvt.font:       xft:Ubuntu Mono:size=12:style=Regular:antialias=true,xft:monospace
!URxvt.boldFont:   xft:Iosevka:size=11:style=Semibold:antialias=true,xft:monospace
!URxvt.italicFont: xft:Iosevka:size=11:style=Oblique:antialias=true,xft:monospace
URxvt.letterSpace: 0.5
URxvt.lineSpace: 3

! plugins
URxvt.perl-ext-common:  ...,font-size,keyboard-select
URxvt.keysym.Shift-Control-Up:     perl:font-size:increase
URxvt.keysym.Shift-Control-Down:   perl:font-size:decrease
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keyboard-select.clipboard: true

!URxvt.keysym.Shift-Control-V: eval:paste_clipboard
!URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
!URxvt.keysym.Control-Meta-c: builtin-string:
!URxvt.keysym.Control-Meta-v: builtin-string:

URxvt.iso14755:         false
URxvt.iso14755_52:      false
